# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\unibs\materie\1°ANNO\PROGRAMMA_ARNALDO\Esercizio3_CodiceFiscale\PgAr2021_Team8Bit_CodiceFiscale\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
